/* Стили для select-контейнера */
.select-container {
  background: transparent;
  width: 292px;
  position: relative;
  font-family: Arial, sans-serif;
}

/* Обновление стилей для input */
.select-input {
  padding: 11px 12px 11px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* padding: 8px; */
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.select-input:hover {
  border-color: #b99dc8;
  box-shadow: 0 0 0 2px #ede6f1;
}

.input-with-selected-options {
  background: transparent;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
}

/* Placeholder для пустого Select */
.search-input {
  color: black;
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  padding: 4px;
  min-width: 80px;
}

.placeholder {
  color: #999;
}

.dropdown-arrow {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(0deg);
}

/* Dropdown styles */
.dropdown {
  padding: 4px;
  overflow: auto;
  scrollbar-width: none;
  /* scrollbar: none; */
  /* scrollbar-color: #919399 transparent; */
  /* overflow-y: auto; */
  /* overflow-y: overlay; */
  /* scrollbar-gutter: stable; */
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  max-height: 170px;
  /* overflow-y: auto; */
  /* z-index: 10; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.vertical-scroll{
  top: calc(100% + 8px);
  position: absolute;
  /* top: 0; */
  right: 6px;
  width: 6px;
  min-height: 170px;
  max-height: 170px;
  background: transparent;
}

.vertical-scrollbar-thumb {
  position: absolute;
  width: 6px;
  min-height: 2px;
  /* right: 6px; */
  background: #919399;
  border-radius: 3px;
}

/* Dropdown options */
.dropdown-options {
  overflow: hidden;
  /* padding: 4px; */
  /* border- */
}

.dropdown-option {
  position: relative;
  max-height: 36px;
  padding: 7px 12px;
  cursor: pointer;
}

.dropdown-option:hover {
  border-radius: 6px;
  background: #1308170D;
}

.dropdown-option.selected::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  right: 10px;
  top: 5px;
  background: url('../../assets/checkbox.svg') no-repeat;
}

.checkmark {
  float: right;
  color: #1890ff;
}

.create-option {
  padding: 8px 16px;
  cursor: pointer;
  color: #1890ff;
}

.create-option:hover {
  background-color: #f0f0f0;
}

/* Label для выбранных опций */
.label {
  font-size: 14px;
  background:#6E328C0F;
  color: #6E328C;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  max-height: 24px;
}

.label button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  /* background: url('../../assets/close.svg') no-repeat; */
  border: 1px solid transparent;
  cursor: pointer;
  margin-left: 8px;
  /* color: #ff4d4f; */
  font-size: 14px;
}

.label button:hover {
  border: 1px solid #6E328C;
}